h1 {
  font-size: 3em;
  font-family: Helvetica;
  text-align: center;
  margin-bottom: -5px;
}

#head {
  padding: 15%;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
  
div {
  padding: 1%;
}
  
#byline {
  font-size: 1.5em;
  font-family: Helvetica;
  text-align: center;
}
  
p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
  padding-bottom: 20px;
  margin-bottom: -20px
}

img {
  padding: 10px;
  width: 60%;
  display: block;
  margin: auto;
}

#nav-bar {
  text-align: center;
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-evenly;

}

#nav-bar a {
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 75%;
  margin: auto;
  padding: 10px;
}

.column {
  background: #f8f9fa;
  border: 5px solid #1abc9c; 
  text-align: center;
  min-width: 50%; 
}

  /* responsive design */
#content {
  width: 60%;
  margin: auto;
}

@media (orientation: portrait) {
  #content {
    width: 50%;
  }
  .row{
    flex-direction: column;
  }
}
  /* this is my css comment */
