h1 {
    font-size: 3em;
    font-family: Helvetica;
    text-align: center;
    margin-bottom: -5px;
  }
  
  div {
    padding: 1%;
  }
  
  #byline {
    font-size: 1.1em;
    font-family: Helvetica;
    text-align: center;
  }
  
  p {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  
 #graph {
  width: 50%;
  margin: auto;
 }

 #map {
  width: 30%;
  margin: auto;
 }
 
  img {
    margin: auto;
    margin-top: 10px;
    display: block;
  }
  
  /* responsive design */
  #content {
    width: 50%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 50%;
    }
  }