h1 {
  font-size: 2em;
}

#byline {
  font-size: 1.1em;
}

#content {
  width: 75%;
  margin: auto;
}

img {
    width: 60%;
    margin: auto;
    display: block;
}

#reflection {
  border: 5px solid lightblue;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-size: 1.2em;
  line-height: 1.3em;
}

ol {
  font-size: 1em;
}

  /* responsive design */
  #content {
    width: 50%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 75%;
    }
  }