h1 {
  font-size: 3em;
}

#content {
  width: 75%;
  margin: auto;
}

img {
    margin: auto;
    display: block;
}

#reflection {
  border: 2px solid lightblue;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}